[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
gunicorn = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"
python-decouple = "*"
dj-database-url = "*"
django = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
collectfast = "*"
django-allauth = "*"
pytest = "*"
model-bakery = "*"
pillow = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"
