{% extends 'base/main.html' %}

{% load static %}

{% block content %}
<title>{% block title %}Rj cariri Login{% endblock title %}</title>
<body>

<div class="area">

    <img class="logo" src="{% static 'images/LogoM.png' %}"/>
    <h2>Faça Login</h2>

    <form name="fomrPainel" id="formPainel" method="post" action="/painel/">
        <div>
            {% csrf_token %}
            <input type="email" name="email" placeholder="Digite seu e-mail" class="form-control">

            <input type="password" name="password" placeholder="Digite sua senha" class="form-control">

            <label class="remember">
                <input type="checkbox" name="remember" value="1"/>
                Lembrar Senha
            </label>
            <br>
            <input type="submit" value="Entrar" class="btn- btn-lg btn-block btn-primary ">

        </div>
    </form>


    <p class="gray padding"> 2022 </p>
</div>
</body>
{% endblock %}