body{
	min-height:100vh;
	background-color: #EEEEEE;
	display:flex;
	justify-content:center;
	align-items:center;
}

h2{
	padding-top:10px;
	padding-bottom:10px;
}

.area{
	width:100%;
	max-width:350px;
	text-align:center;
	padding:10px;
}

.logo{
	width:270px;
	height:auto;
}

.remember {
	padding-top: 20px;
	padding-bottom: 20px;
}

.gray{
	color:#999;
}

.padding{
	padding: 20px;
}